.btns-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;

  animation: fadeInDown;
  animation-duration: 2s;
  width: 100%;
}

.toggle-wrapper {
  background-color: #2f3640;
  border-radius: 2rem;
  width: max-content;
  margin: 0 4rem;
}

.toggle-wrapper.disabled {
  background: var(--bg-gradient) !important;
}

.toggle-wrapper.disabled #gifs-btn,
.toggle-wrapper.disabled #stickers-btn {
  font-weight: 600;
  color: white !important;
  text-shadow: -2px 2px 2px #858586;
  cursor: not-allowed;
  background: transparent !important;
}

.btns-wrapper button {
  border: none;
  background: transparent;
  color: #969696;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 2rem;
}

#trending-btn, #favorites-btn {
  cursor: pointer;
  transition: scale .4s ease;
  color: #969696;
}

#trending-btn:hover,
#favorites-btn:hover {
  scale: 1.05;
}

#trending-btn.activated,
#favorites-btn.activated {
  color: var(--primary-color);
}

#gifs-btn {
  padding: .5rem 4.65rem;
}

#stickers-btn {
  padding: .5rem 3rem;
}

#gifs-btn.activated,
#stickers-btn.activated {
  font-weight: 600;
  color: white;
}

#gifs-btn.activated {
  background: linear-gradient(90deg, #883dff 0%, #6951ff 100%) !important;
  text-shadow: -2px 2px 2px #6337cb;
}

#stickers-btn.activated {
  background: linear-gradient(90deg, #00d3f0 0%, #00f6aa 100%) !important;
  text-shadow: -2px 2px 2px #00b998;
}