.giphy-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.giphy-card {
  color: white;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: repeat(2, max-content);
  height: max-content;
  position: relative;
  overflow: hidden;
}

.giphy-card.animation {
  animation: zoomIn;
  animation-delay: var(--delay);
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.giphy-info {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  order: 1;
}

.actions-wrapper a {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  border-radius: 50%;
  text-decoration: none;
}

.actions-wrapper button {
  position: absolute;
  top: 1.3rem;
  right: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.actions-wrapper a, 
.actions-wrapper button {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 1.6rem;
}

.giphy-card:hover .giphy-info a,
.giphy-card:hover .actions-wrapper button {
  display: block;
  animation: fadeInRight;
  animation-duration: 1s;
}

.giphy-info .img-wrapper {
  position: relative;
}

.giphy-info .img-wrapper img {
  height: 250px;
  width: 250px;
  border-radius: 1rem;
  object-fit: cover;
}

.giphy-info .img-wrapper p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: -15px;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.giphy-card:hover .img-wrapper p {
  display: block;
  animation: fadeInUp;
  animation-duration: 1s;
}

.giphy-info p {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.user-info {
  height: max-content;
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.user-info a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.user-info img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.user-info span {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}