.gif-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.gif-card {
  color: white;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: repeat(2, max-content);
  height: max-content;
  position: relative;
  overflow: hidden;
}

.gif-info {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  order: 1;
}

.gif-info a {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  border-radius: 50%;

  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  display: none;
}

.gif-card:hover .gif-info a {
  display: block;
  animation: fadeInRight;
  animation-duration: 1s;
}

.gif-info .img-wrapper {
  position: relative;
}

.gif-info .img-wrapper img {
  height: 250px;
  width: 250px;
  border-radius: 1rem;
}

.gif-info .img-wrapper p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: -15px;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.gif-card:hover .img-wrapper p {
  display: block;
  animation: fadeInUp;
  animation-duration: 1s;
}

.gif-info p {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.user-info {
  height: max-content;
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.user-info a {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.user-info img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}