.search-wrapper {
  height: 60px;
  border-radius: 4rem;
  padding: 1rem;
  gap: 1.5rem;
}

#search-btn {
  color: #969696;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-wrapper:focus-within #search-btn,
.search-wrapper.activated #search-btn {
  color: var(--primary-color);
}

.search-wrapper:focus-within #search-input,
.search-wrapper.activated #search-input {
  border-bottom: .1rem solid var(--primary-color) !important;
}

#search-input {
  border: none;
  background: none;
  outline:none;
  width: 200px;
  padding: 0 .6rem;
  color: white;
  font-size: 1.7rem;
  line-height: 4rem;
  border-bottom: .1rem solid #969696 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset; 
  -webkit-text-fill-color:  white !important;
  caret-color: white;
}

@media screen and (max-width: 620px) {
  .search-wrapper:hover > #search-input {
    width: 150px;
    padding: 0 .6rem;
  }
}